body {
  font-family: Arial;
  background: #f8f0e3;
  text-align: center;
}

.card {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

label {
  display: block;
  margin: 10px 0;
}

button {
  padding: 10px;
  margin-top: 10px;
  background: #b22222;
  color: white;
  border: none;
  border-radius: 5px;
}
